<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客</title>
    {include file="public/public_style" /}
    <link rel="stylesheet" href="__STYLE__/index/css/blog.css">
    <style>
        ::-webkit-scrollbar {
            width: 14px;
            height: 14px;
        }

        ::-webkit-scrollbar-track,
        ::-webkit-scrollbar-thumb {
            border-radius: 999px;
            border: 5px solid transparent;
        }

        ::-webkit-scrollbar-track {
            box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
        }

        ::-webkit-scrollbar-thumb {
            min-height: 20px;
            background-clip: content-box;
            box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
        }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }
    </style>
</head>
<body style="overflow-x: hidden">

{include file="public/index_nav" /}

<div class="content " style="margin-top: 100px">

    <div class="container clearfix">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                {volist name='article' id='list'}
                {if condition="$list.status neq 0"}
                <div class="new ">
                    <div class="row">
                        <div  class="col-md-5 col-xs-4 "><img style="border: 2px solid #eadec7;border-radius: 10px; " src="{$list.title_pic|default='/static/article/pic/default.jpg'}" alt=""></div>
                        <div class="col-md-7 col-xs-8 ">
                            <h3>
                                <a href="javascript:void(0)" class="btn btn-primary btn-xs lb" role="button">{$list.columns}</a>
                                <a href="{:url('blog/article',['aid'=>$list.aid])}">{$list.title}</a>
                            </h3>
                            <p>{$list.brief|mb_substr=0,150}...</p>
                        </div>
                    </div>
                </div>
                {/if}
                {/volist}

                <div class="text-center">
                    {$article->render()}
                </div>

            </div>
            {include file="public/right_weiget" /}


        </div>
    </div>
</div>
{include file="public/index_footer" /}


<script type="text/javascript">
    $(document).ready(function () {
        $('#btnL').on('click', function () {
            $('#myModalL').modal('show');
        });

        $('#btnR').on('click', function () {
            $('#myModalR').modal('show');
        });


        !function () {
            function n(n, e, t) {
                return n.getAttribute(e) || t
            }

            function e(n) {
                return document.getElementsByTagName(n)
            }

            function t() {
                var t = e("script"), o = t.length, i = t[o - 1];
                return {
                    l: o,
                    z: n(i, "zIndex", -1),
                    o: n(i, "opacity", .5),
                    c: n(i, "color", "0,200,250"),
                    n: n(i, "count", 99)
                }
            }

            function o() {
                a = m.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth, c = m.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
            }

            function i() {
                r.clearRect(0, 0, a, c);
                var n, e, t, o, m, l;
                s.forEach(function (i, x) {
                    for (i.x += i.xa, i.y += i.ya, i.xa *= i.x > a || i.x < 0 ? -1 : 1, i.ya *= i.y > c || i.y < 0 ? -1 : 1, r.fillRect(i.x - .5, i.y - .5, 1, 1), e = x + 1; e < u.length; e++)n = u[e], null !== n.x && null !== n.y && (o = i.x - n.x, m = i.y - n.y, l = o * o + m * m, l < n.max && (n === y && l >= n.max / 2 && (i.x -= .03 * o, i.y -= .03 * m), t = (n.max - l) / n.max, r.beginPath(), r.lineWidth = t / 2, r.strokeStyle = "rgba(" + d.c + "," + (t + .2) + ")", r.moveTo(i.x, i.y), r.lineTo(n.x, n.y), r.stroke()))
                }), x(i)
            }

            var a, c, u, m = document.createElement("canvas"), d = t(), l = "c_n" + d.l, r = m.getContext("2d"),
                x = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function (n) {
                        window.setTimeout(n, 1e3 / 45)
                    }, w = Math.random, y = {x: null, y: null, max: 2e4};
            m.id = l, m.style.cssText = "position:fixed;top:0;left:0;z-index:" + d.z + ";opacity:" + d.o, e("body")[0].appendChild(m), o(), window.onresize = o, window.onmousemove = function (n) {
                n = n || window.event, y.x = n.clientX, y.y = n.clientY
            }, window.onmouseout = function () {
                y.x = null, y.y = null
            };
            for (var s = [], f = 0; d.n > f; f++) {
                var h = w() * a, g = w() * c, v = 2 * w() - 1, p = 2 * w() - 1;
                s.push({x: h, y: g, xa: v, ya: p, max: 6e3})
            }
            u = s.concat([y]), setTimeout(function () {
                i()
            }, 100)
        }();
    });
</script>

</body>
</html>