<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页面</title>
    <link rel="stylesheet" type="text/css" href="__STYLE__/login/login.css">

</head>

<body>
<div class="main">
    <form class="login" action="" method="post">
        用户名：<input type="text" name="uname" value=""><br>
        密码：<input type="password" name="pwd"><br>
        确认密码：<input type="password" name="pwdRpt"><br>
        性别：男<input type="radio" value="男" name="sex">女<input type="radio" value="女" name="sex"><br>
        邮箱：<input type="text" name="mail"><br>

        生日：<input type="date" name="birth"><br>
        <input type="submit" name="sub" value="注册">
    </form>
</div>
</body>

</html>